/* Set the background color for the entire page */
body {
  background-color: #343a40; /* Dark Gray */
  color: rgb(44, 43, 43);
}

/* Add custom styles to the input fields */
.input-field {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  background-color: #454d55; /* Darker Gray */
  color: white;
}

/* Add style to the "Calcular" button */
#calcular-button {
  margin-top: 10px;
  background-color: #007bff; /* Blue */
  border-color: #007bff;
}

/* Style the result container */
.resultado-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #555e66; /* Slightly Dark Gray */
}

/* Style the footer */
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #343a40; /* Dark Gray */
  color: white;
  text-align: center;
}

/* Center the header text */
h4 {
  text-align: center;
  color: #007bff; /* Blue */
}

/* Adjust spacing between columns */
.col {
  margin-bottom: 10px;
}

/* Add a little space between label and input */
label {
  margin-bottom: 5px;
}

.label_venda {
  margin-bottom: 5px;
  color: #ff0000; 
}

.label_compra {
  margin-bottom: 5px;
  color: #00ff04; 
}
/* Adjust margin for container */
.container {
  margin-top: 50px;
}

/* Additional margin for the footer */
.footer {
  margin-bottom: 20px;
  justify-items: auto;
  color: #8d8d8d; 
}
